{% extends 'AppCoder/padre.html' %}

{% block ContenidoVariable %}

<!DOCTYPE html>
 <html lang="en">

 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Citas Formulario</title>
 </head>

 <body style="background-color: pink;">
     <form action="/AppCoder/citas/" method="POST">
         {% csrf_token %}
         <p>fecha: <input type="text" name="fecha"> </p>
         <p>turno tomado: <input type="number" name="turno tomado"> </p>
         <input type="submit" value="Guardar">
     </form>
 </body>

 </html>

{% endblock ContenidoVariable %}